.afficher{
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
  }
  
  #nombre{
    border: solid thin black;
    padding:0.5em;
    margin-right: 0.25em;
  }
  
  p{
    margin:0em;
    margin-bottom:0.75em;
  }
  
  h1{
    margin-bottom:0.5em;
  }
  
  div{
    background:#34c924;
  }